<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Font Awsome Icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <!-- Styles for rating stars -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

    <!-- My CSS -->
    <link rel="stylesheet" href="/static/styles.css">

    <!-- Chart.js  -->
    <script src=
  "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.js">
    </script>
  </head>

     <title> SafeGuard </title>

<!-- Side Navigation Bar -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
</style>

<body class="pt-2">
<div class="col">

<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a> 
  <a href="/">Ride Details</a>
  <a href="/emergency-contacts">Emergency Contacts</a>
  <a href="#">Safety Tips</a>
  <a href="#">Return to Lyft</a>
</div>

<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; </span>

<script>
function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
}

function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
}
</script>
     
</body>
<!--     <nav class="navbar navbar-expand-lg navbar-light navbar-inverse navbar-fixed-left" style="background-color: #e3f2fd;">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <a class="navbar-brand" href="/">SafeGuard</a>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <div class="row">
      <div class="card bg-transparent border-0 pl-3 pt-3">
        <img class="card-img-left" src="/static/img/-Rider.png" alt="Card image cap" height="100px" width="100px"></div>
      <div class="card bg-transparent border-0 pl-3 pt-3"><span class="align-text-bottom">Sarah Jean</span></div>
    </div>
    <div clas
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="/register">Ride Details<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/log_in">Emergency Contacts</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/emergency-contacts">Safety Tips</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Return to Lyft<span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav> -->

    <div class="container-fluid equipo-content">
         <!-- For flash messages -->

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="flashes">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        {% block content %} put the content here {% endblock %}

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->

        <!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script> <!-- Using the full version so we can do other JQuery things -->

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
        <!-- My Javascript -->
        <script src="/static/js/restaurant-info.js"></script>
        <script src="/static/js/tooltips.js"></script>
        <script src="/static/js/add-address.js"></script>

    </div>
    <footer class="bd-footer text-muted">
          <div class="container-fluid p-3 p-md-5">
            <p>
              Designed and built with <i class="fas fa-heart"></i> &amp; <i class="fas fa-grin-beam-sweat"></i> by #ByNight

            </p>
          </div>
    </footer>

  </div>
  </body>
</html>
