{% extends 'base.html' %}
{% block content %}

<style type="text/css">
.safeguard-background {
    background-color: #F8F8F9;
}
h1 {
    font-size: 34px;
    width: 375px;
    height: 42px;
    font-family: myFirstFont;
    src: url(sansation_light.woff);
}
.safe-guard-text-1 {
    color: #3653A5;


}
.safe-guard-text-2 {
    color: #738BC9;
    margin-left: 565px;
    margin-right: 0px;
    margin-top: -50px;

}
img {
  border-radius: 50%;
  max-height: 170px;
}
.villian {
    margin-left: 0gitpx;
    margin-right: 0px;
    margin-top: -50px;
}


</style>
<body>
    <div class="villain">
            <img align="left" src="/static/villain.jpg" alt="Avatar" style="width:140px">
    </div>
    <div class="container fluid col-md-6 col-sm-12">
        <h5>Emergency Mode Has Been Actiavate</h5>
        <table>
    <tr>
        <th>Safeguard has your back, Sarah.</th>

    </tr>
    <tr>
        <div class="" style="align-content: left;">
            <img align="left" src="/static/prius.jpeg" alt="Avatar" style="width:200px">
        <div class="financial"><small>You're in Eric's Car</small>
        <small>Toyota Prius</small>
        <small>AACC123</small>
        </div>
        
    </div>
    </tr>
    <tr>

    </tr>
</table>
    </div>

</body>

{% endblock %}
