{% extends 'base.html' %}
{% block content %}

<style type="text/css">
.safeguard-background {
    background-color: #F8F8F9;
}
h1 {
    font-size: 34px;
    width: 375px;
    height: 42px;
    font-family: myFirstFont;
    src: url(sansation_light.woff);
}
.safe-guard-text-1 {
    color: #3653A5;
    /*margin-left: 500px;
    margin-right: 0px;
    margin-top: 300px;*/

}
.safe-guard-text-2 {
    color: #738BC9;
    /*margin-left: 565px;
    margin-right: 0px;
    margin-top: -50px;*/

}


</style>
<head>
    <meta http-equiv="refresh" content="5;url=http://localhost:5000/ride_details"/>
</head>
<body class="safeguard-background">
    <div class="container fluid col-md-6 col-sm-12">
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
       <img src="../static/img/Logo.png" style='max-width:100%;'>
    </div>
</body>

{% endblock %}
