{% extends 'base.html' %}
{% block content %}
<body class="page-background">
<style>
.page-background {
    background-color: #F2F2F2;
}
.map-background{
    background-position: right top;

}
.safeguard-background {
    background-color: #F8F8F9;
}
div.fixed {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 1000px;
    border: 3px solid #73AD21;
}
img {
  border-radius: 50%;
  margin-left: -230px;
  max-height: 170px;
}
h1 {
    margin-right: -100px;
}
.financial {
    border-radius: 50%;
    text-align: left;
    margin-top: -120px;
    margin-left: 80px;
}
.sapling {
    width: 50px;
    height: 25%;
    margin-left: -50px;
    margin-top: 130px;
}
.sapling-text {
    width: 50px;
    height: 25%;
    margin-left: -50px;
    margin-top: 160px;
    color: #1a396b;
}
.title-text {
    margin-left: 100px;
    margin-top: 30px;
    color: #1a396b;
}
.safeguard-text-one {
    margin-left: 0px;
    margin-top: 0px;
    color: #1a396b;
}
.inset {
    border-style: ridge;
    border-radius: 15px; 
}
.my-safeguards {
    margin-left: 60px;
    margin-top: 30px;
    color: #1a396b;
}
.safeguard-countdown {
    color: #1a396b;
}
</style>

<div class="container-fluid col-md-6 col-sm-12">
    <div class="column safeguard-background">
        <small></small>
        <h4 class="safeguard-text-one"></h4>
        <small></small>
        <h4 class="safeguard-text-one"></h4>
        <span class="badge badge-pill badge-success"></span>
            <div class="giv-history-chart">
                <iframe src="https://www.google.com/maps/d/embed?mid=1vz2Ts5rroE3qzkFo5_Min_ooW3gq-HV_" width="1000" height="480"></iframe>
            </div>


    </div>

    <div class="" style="align-content: left;">
        <img align="left" src="/static/SaraJean.png" alt="Avatar" style="width:200px">
        <h5 class="sapling-text"></h5>
        <h1 class="title-text" align="center">Welcome Back Sarah Jean!</h1>
        <div class="financial"><small></small></div>
        
    </div>
    <br>
    <h1 class="my-safeguard"></h1>
    <br>
    <br>
    <h2 class="safeguard-countdown"></h2>
    <br>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

</div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
var donut_options = { responsive: true, cutoutPercentage: 75 };
var ctx_donut = $("#donutChart").get(0).getContext("2d");
$.get("/giv_donut.json", function (data) {
    var myDonutChart = new Chart(ctx_donut, {
                                            type: 'doughnut',
                                            data: data,
                                            options: donut_options
                                          });
    $('#donutLegend').html(myDonutChart.generateLegend());
});
var donut_options_two = { responsive: true, cutoutPercentage: 75 };
var ctx_donut_two = $("#donutChart").get(0).getContext("2d");
$.get("/giv_donut_two.json", function (data) {
    var myDonutChartTwo = new Chart(ctx_donut, {
                                            type: 'doughnut',
                                            data: data,
                                            options: donut_options
                                          });
    $('#donutLegend').html(myDonutChart.generateLegend());
});
var donut_options_three = { responsive: true, cutoutPercentage: 75 };
var ctx_donut_three = $("#donutChart").get(0).getContext("2d");
$.get("/giv_donut_three.json", function (data) {
    var myDonutChartThree = new Chart(ctx_donut, {
                                            type: 'doughnut',
                                            data: data,
                                            options: donut_options
                                          });
    $('#donutLegend').html(myDonutChart.generateLegend());
});
</script>


{% endblock %}