{% extends 'base.html' %}
{% block content %}
<body class="page-background">

<div class="container-fluid">
        <div class="row justify-content-sm-center">
            <div class="col">
                <iframe src="https://www.google.com/maps/d/embed?mid=1vz2Ts5rroE3qzkFo5_Min_ooW3gq-HV_"></iframe>
            </div>
        </div>
        <div class="row justify-content" id="row-user">
            <div><img src="/static/SaraJean.png" width="100px" align="center"></div>           
            <span align="right">SafeGuard has your back, Sarah.</span>
        </div>

    <button type="button" value="emergency" onclick="window.location.href='/emergency-mode'" class="btn btn-danger" id="emergency-button">Activate Emergency Mode</button>

</div>

</body>



{% endblock %}