{% extends 'base.html' %}
{% block content %}
<body class="page-background">
<style>
.page-background {
    background-color: #F2F2F2;
}
.map-background{
    background-position: right top;

}
.safeguard-background {
    background-color: #F8F8F9;
}
div.fixed {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 1000px;
    border: 3px solid #73AD21;
}
img {
  border-radius: 50%;
  margin-left: -230px;
  max-height: 170px;
}
h1 {
    margin-right: -100px;
}
.financial {
    border-radius: 50%;
    text-align: left;
    margin-top: -120px;
    margin-left: 80px;
}
.sapling {
    width: 50px;
    height: 25%;
    margin-left: -50px;
    margin-top: 130px;
}
.sapling-text {
    width: 50px;
    height: 25%;
    margin-left: -50px;
    margin-top: 160px;
    color: #1a396b;
}
.title-text {
    margin-left: 100px;
    margin-top: 30px;
    color: #1a396b;
}
.safeguard-text-one {
    margin-left: 0px;
    margin-top: 0px;
    color: #1a396b;
}
.inset {
    border-style: ridge;
    border-radius: 15px; 
}
.my-safeguards {
    margin-left: 60px;
    margin-top: 30px;
    color: #1a396b;
}
.safeguard-countdown {
    color: #1a396b;
}
</style>

<div class="container-fluid">
        <div class="row justify-content-sm-center">
            <div class="col">
                <iframe src="https://www.google.com/maps/d/embed?mid=1vz2Ts5rroE3qzkFo5_Min_ooW3gq-HV_"></iframe>
            </div>
        </div>
        <div class="row justify-content">
            <div><img src="/static/SaraJean.png" width="100px" align="center"></div>           
            <span align="right">SafeGuard has your back, Sarah.</span>
        </div>

    <button type="button" value="emergency" onclick="window.location.href='/emergency-mode'" class="btn btn-danger">Activate Emergency Mode</button>

</div>

</body>



{% endblock %}